/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 7, 2019, 3:49:50 PM
    Author     : urk17cs102
*/

*{
    margin: 0;
}
header{
    text-align: center;
    font-family: serif;
    font-size: normal;
    background-color: blue;
    color: white;
    text-shadow: 3px 3px black;
    line-height: 90px; 
    
}
.nav{
    width: 100%;
}
ul{
    list-style: none;
    background-color: orange;
    color: white;
    font-family: serif;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 25px;
    padding-top: 2px;
    
}
li{
    float: left;
}

li a{
    text-decoration: none;
    display: inline
}
li a:hover{
    background-color: greenyellow;
    color: blue;
}

.banner{
    background-image: url('d1.jpg');
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
   
}
.text{
    color: white;
    background-color: black;
    position: absolute;
    margin-top: 0px;
    opacity: 0.6;
    margin-bottom: 0px;
    margin-left: 90px;
    margin-right: 90px;
}
.thumbnail1{
     background-image: url('d4.jpg');
    width: 33%;
    color: white;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.thumbnail2{
     background-image: url('d2.jpg');
    width: 33%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}
.thumbnail3{
     background-image: url('d3.jpg');
    width: 33%;
    height: 200px;
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
    display: inline-block;
}

#p2#p3#p4{
    background-color: black;
    color: white;
    font-family: serif;
    font-size: small;
        
}